{% extends 'index.html'%}

{% block content %}

		<section class="content">
			<div class="page_header">
				<h1>About Us</h1>
			</div>
			<div class="center">
				<div class="page_contents">
					<section class="page_content editor_text">

						<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis libero non lacus viverra aliquet. Fusce porta gravida eros, eu tristique erat feugiat quis. Ut sed mauris commodo sem rhoncus laoreet at nec enim. Phasellus diam tellus, rhoncus id imperdiet venenatis, mattis nec sapien. Ut interdum ex arcu, sit amet semper lorem pretium at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula turpis eu augue sodales, ac lacinia magna ultricies. Pellentesque cursus efficitur dapibus.</P>

						<p>Suspendisse id enim felis. Suspendisse sit amet neque id ante tempus lobortis. Proin fermentum ut ligula sit amet porttitor. In sodales consequat turpis nec consequat. Pellentesque semper turpis eget dolor volutpat, lacinia aliquam mauris maximus. Nulla rutrum blandit arcu, ut pretium augue aliquet dignissim. Sed id nibh vitae nunc varius tempus. In dui orci, interdum et sodales vel, auctor fringilla mauris.</p>

						<p>Suspendisse fringilla neque eget magna molestie, eu lobortis nulla euismod. Vivamus porta posuere nibh, eget ultrices massa porta ut. Pellentesque lobortis volutpat dui, porta rutrum arcu ultricies vel. Cras at ante commodo, lacinia odio eget, finibus enim. Sed porta ac felis non consectetur. Curabitur id neque laoreet, eleifend velit a, sagittis nibh. Suspendisse justo arcu, pulvinar sed ex sit amet, ullamcorper luctus neque. Integer ac semper turpis. Quisque vel augue non ante vehicula pulvinar non feugiat metus.</p>

						<img src="img/img1.jpg">

						<p>In pellentesque justo vitae fermentum ullamcorper. Integer iaculis, lectus id venenatis gravida, justo urna fringilla dui, a lacinia sapien ligula sit amet magna. Mauris arcu est, dictum non sapien eget, sollicitudin aliquam quam. Nam non eros at sem pellentesque facilisis vitae ac mi. Curabitur mattis enim lectus. Sed vel imperdiet ligula, ac tincidunt purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut ac ante a felis sagittis consequat. Nunc efficitur dui non justo sagittis, et placerat ipsum consequat. Aliquam quis ipsum eros.</p>

						<p>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros, laoreet eu dui ac, pharetra ullamcorper felis. Cras tempus ipsum leo, quis condimentum felis faucibus sit amet. Vivamus elementum, risus vel finibus auctor, tortor quam ornare augue, in pellentesque orci orci id diam. Donec accumsan nunc ac odio pharetra commodo. Phasellus imperdiet turpis tempus dui malesuada varius. Proin a finibus nunc. Nullam a finibus diam. Nulla facilisi.</p>

						<ul>
							<li>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros</li>
							<li>Nullam a finibus diam. Nulla facilisi</li>
							<li>In pellentesque justo vitae fermentum ullamcorper</li>
							<li>Pellentesque lobortis volutpat dui, porta rutrum arcu ultricies vel. Cras at ante commodo, lacinia odio eget, finibus enim</li>
							<li>Vivamus elementum, risus vel finibus auctor, tortor quam ornare augue</li>
						</ul>

						<ol>
							<li>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros</li>
							<li>Nullam a finibus diam. Nulla facilisi</li>
							<li>In pellentesque justo vitae fermentum ullamcorper</li>
							<li>Pellentesque lobortis volutpat dui, porta rutrum arcu ultricies vel. Cras at ante commodo, lacinia odio eget, finibus enim</li>
							<li>Vivamus elementum, risus vel finibus auctor, tortor quam ornare augue</li>
						</ol>

						<h1>Duis nec tempus ipsum. Cras eget blandit leo. Mauris est eros</h1>
						<h2>Nullam a finibus diam. Nulla facilisi</h2>
						<h3>In pellentesque justo vitae fermentum ullamcorper</h3>
						<h4>Pellentesque lobortis volutpat dui, porta rutrum arcu ultricies vel. Cras at ante commodo, lacinia odio eget, finibus enim</h4>
						<h5>Integer iaculis, lectus id venenatis gravida</h5>
						<h6>Nullam a finibus diam. Nulla facilisi</h6>


					</section>

					<aside class="page_sidebar">
						<section class="sidebar_opening_hours">
							<h1>Opening Hours</h1>
							<ul>
								<li><h3>Monday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Tuesday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Wednesday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Thursday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Friday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Saturday</h3><span>08:00 AM - 18:00 PM</span></li>
							</ul>
						</section>
					</aside>
				</div>
			</div>

			<div class="stats">
				<div class="center">
					<ul>
						<li>
							<div class="stats_number">26</div>
							<h2 class="stats_name">Trainers</h2>
							<img class="stats_icon" src="img/bodybuilder.svg">
						</li>
						<li>
							<div class="stats_number">1256</div>
							<h2 class="stats_name">Members</h2>
							<img class="stats_icon" src="img/fitness.svg">
						</li>
						<li>
							<div class="stats_number">365</div>
							<h2 class="stats_name">Equipments</h2>
							<img class="stats_icon" src="img/weightlifting.svg">
						</li>
						<li>
							<div class="stats_number">12</div>
							<h2 class="stats_name">Locations</h2>
							<img class="stats_icon" src="img/bodybuilder.svg">
						</li>
					</ul>
				</div>
			</div>

			<div class="brochure">
				<div class="center">
					<h1>Choose Your Exercise And Start Your Training With Us.</h1>
					<a href="contact.html"><button>Book Now</button></a>
				</div>
			</div>
		</section>
{% endblock %}

