{% extends 'index.html'%}
{% load crispy_forms_tags %}
{% block content %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
	
		<section class="content">
			<div class="page_header">
				<h1>Contact Us</h1>
			</div>
			<div class="center">
				<div class="page_contact">
					
					<div class="contact">
						<p style="text-align:center">Kindly fill the form below 😊</p>
						<form method="POST">
							{% csrf_token %}
							{{form | crispy}}
							<input type="submit" value="SEND">
						</form>
			{% if messages %}
			<div class="success_message">
			{% for message in messages%}
			{{message}}
			{% endfor %}
			 </div>
			{% endif %}	
					</div>
					<aside class="page_sidebar">
						<section class="sidebar_opening_hours">
							<h1>Opening Hours</h1>
							<ul>
								<li><h3>Monday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Tuesday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Wednesday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Thursday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Friday</h3><span>08:00 AM - 18:00 PM</span></li>
								<li><h3>Saturday</h3><span>08:00 AM - 18:00 PM</span></li>
							</ul>
						</section>
					</aside>
				</div>
			</div>
			<div class="googlemap">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10175.787624092312!2d-73.94900388634959!3d40.689835874075634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1535484353154" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

			
		</section>
		{% endblock %}
